# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store
